<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.andylin.Low-Power-Mode-Toggler.helper</key>
		<string>anchor apple generic and identifier "com.andylin.Low-Power-Mode-Toggler.helper" and certificate leaf[subject.OU] = "QW3PB89WQ9"</string>
	</dict>
</dict>
</plist>
